<a href="https://colab.research.google.com/github/twotablepush/OpenCV/blob/main/12_Pandas_%EC%97%B0%EC%82%B0%EA%B3%BC_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 데이터 프레임의 Null 여부 확인

import pandas as pd
import numpy as np

word_dict = {
    'Apple' : '사과',
    'Banana' : '바나나',
    'Carrot' : '당근',
    'Durian' : '두리안'
}

price_dict = {
    'Apple' : 300,
    'Banana' : 200,
    'Carrot' : 100,
    'Durian' : 500
}

frequency_dict = {
    'Apple' : 3,
    'Banana' : 5,
    'Carrot' : np.nan, # not a number or null
    'Durian' : 2
}

word = pd.Series(word_dict)
price = pd.Series(price_dict)
frequency = pd.Series(frequency_dict)

summary = pd.DataFrame({
    'word' : word,
    'price' : price,
    'frequency' : frequency
})

print(summary)
print(summary.notnull()) # null 값이 아닌 데이터만 True
print(summary.isnull()) # null 값만 True
summary['frequency'] = summary['frequency'].fillna('데이터 없음')
print(summary)

       word  price  frequency
Apple    사과    300        3.0
Banana  바나나    200        5.0
Carrot   당근    100        NaN
Durian  두리안    500        2.0
        word  price  frequency
Apple   True   True       True
Banana  True   True       True
Carrot  True   True      False
Durian  True   True       True
         word  price  frequency
Apple   False  False      False
Banana  False  False      False
Carrot  False  False       True
Durian  False  False      False
       word  price frequency
Apple    사과    300       3.0
Banana  바나나    200       5.0
Carrot   당근    100    데이터 없음
Durian  두리안    500       2.0

In [ ]:
# Series 자료형의 연산

import pandas as pd

array1 = pd.Series([1, 2, 3], index = ['A', 'B', 'C'])
array2 = pd.Series([4, 5, 6], index = ['B', 'C', 'D'])

array = array1.add(array2, fill_value = 0)
print(array)

A    1.0
B    6.0
C    8.0
D    6.0
dtype: float64

In [ ]:
# 데이터 프레임 자료형의 연산

import pandas as pd

array1 = pd.DataFrame([[1, 2], [3, 4]], index = ['A', 'B'])
array2 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], index = ['B', 'C', 'D'])

print(array1)
print(array2)

print(array1.add(array2, fill_value = 0))
print(array)

   0  1
A  1  2
B  3  4
   0  1  2
B  1  2  3
C  4  5  6
D  7  8  9
     0    1    2
A  1.0  2.0  NaN
B  4.0  6.0  3.0
C  4.0  5.0  6.0
D  7.0  8.0  9.0
A    1.0
B    6.0
C    8.0
D    6.0
dtype: float64

In [ ]:
# 데이터 프레임 집계 함수

import pandas as pd

array1 = pd.DataFrame([[1, 2], [3, 4]], index = ['A', 'B'])
array2 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], index = ['B', 'C', 'D'])

array = array1.add(array2, fill_value = 0)
print(array)
print("컬럼 1의 합:", array[1].sum())
print(array.sum())

     0    1    2
A  1.0  2.0  NaN
B  4.0  6.0  3.0
C  4.0  5.0  6.0
D  7.0  8.0  9.0
컬럼 1의 합: 21.0
0    16.0
1    21.0
2    18.0
dtype: float64

In [ ]:
# 데이터 프레임 정렬 함수

import pandas as pd
import numpy as np

word_dict = {
    'Apple' : '사과',
    'Banana' : '바나나',
    'Carrot' : '당근',
    'Durian' : '두리안'
}

price_dict = {
    'Apple' : 300,
    'Banana' : 200,
    'Carrot' : 100,
    'Durian' : 500
}

frequency_dict = {
    'Apple' : 3,
    'Banana' : 5,
    'Carrot' : 7,
    'Durian' : 2
}

word = pd.Series(word_dict)
price = pd.Series(price_dict)
frequency = pd.Series(frequency_dict)

summary = pd.DataFrame({
    'word' : word,
    'price' : price,
    'frequency' : frequency
})

print(summary)
summary = summary.sort_values('frequency', ascending = False) # 갯수를 내림차순으로 정렬
print(summary)

       word  price  frequency
Apple    사과    300          3
Banana  바나나    200          5
Carrot   당근    100          7
Durian  두리안    500          2
       word  price  frequency
Carrot   당근    100          7
Banana  바나나    200          5
Apple    사과    300          3
Durian  두리안    500          2