<a href="https://colab.research.google.com/github/twotablepush/OpenCV/blob/main/13_Pandas_%ED%99%9C%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 데이터 프레임 마스킹

import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(1, 10, (2, 2)), index = [0, 1], columns = ["A", "B"])
# 데이터 프레임 출력
print(df)
# 컬럼 A의 각 원소가 5보다 작거나 같은지 출력
print(df["A"] <= 5)
# 컬럼 A의 원소가 5보다 작고, 컬럼 B의 원소가 8보다 작은 행 추출
print(df.query("A <= 5 and B <= 8"))

   A  B
0  1  2
1  5  1
0    True
1    True
Name: A, dtype: bool
   A  B
0  1  2
1  5  1

In [ ]:
# 데이터 프레임 개별 연산

import pandas as pd

df = pd.DataFrame([[1, 2, 3, 4], [1, 2, 3, 4]], index = [0, 1], columns = ["A", "B", "C", "D"])
print(df)

df = df.apply(lambda x : x + 1)
print(df)

def addOne(x):
  return x + 1

df = df.apply(addOne)
print(df)

   A  B  C  D
0  1  2  3  4
1  1  2  3  4
   A  B  C  D
0  2  3  4  5
1  2  3  4  5
   A  B  C  D
0  3  4  5  6
1  3  4  5  6

In [ ]:
# 데이터 프레임 특정 데이터를 찾아 변경

import pandas as pd

df = pd.DataFrame([
    ['Apple', 'Apple', 'Carrot', 'Banana'],
    ['Durian', 'Banana', 'Apple', 'Carrot']],
                  index = [0, 1],
                  columns = ["A", "B", "C", "D"]
)

print(df)
df = df.replace({"Apple" : "Airport"})
print(df)

        A       B       C       D
0   Apple   Apple  Carrot  Banana
1  Durian  Banana   Apple  Carrot
         A        B        C       D
0  Airport  Airport   Carrot  Banana
1   Durian   Banana  Airport  Carrot

In [ ]:
# 데이터 프레임 그룹화

import pandas as pd

df = pd.DataFrame([
    ['Apple', 7, 'Fruit'],
    ['Banana', 3, 'Fruit'],
    ['Beef', 5, 'Meal'],
    ['Kimchi', 4, 'Meal']],
    columns = ["Name", "Frequency", "Type"])

print(df)
print(df.groupby(['Type']).sum())

     Name  Frequency   Type
0   Apple          7  Fruit
1  Banana          3  Fruit
2    Beef          5   Meal
3  Kimchi          4   Meal
              Name  Frequency
Type
Fruit  AppleBanana         10
Meal    BeefKimchi          9

In [ ]:
import numpy as np
import pandas as pd

df = pd.DataFrame([
    ['Apple', 7, 500, 'Fruit'],
    ['Banana', 3, 600, 'Fruit'],
    ['Beef', 5, 2000, 'Meal'],
    ['Kimchi', 4, 800, 'Meal']],
    columns = ["Name", "Frequency", "Price", "Type"])

def my_filter(data):
  return data["Frequency"].mean() >= 5

print(df)
df = df.groupby("Type").filter(my_filter)
print(df)

     Name  Frequency  Price   Type
0   Apple          7    500  Fruit
1  Banana          3    600  Fruit
2    Beef          5   2000   Meal
3  Kimchi          4    800   Meal
     Name  Frequency  Price   Type
0   Apple          7    500  Fruit
1  Banana          3    600  Fruit

In [ ]:
import pandas as pd

df = pd.DataFrame([
    ['Apple', 7, 500, 'Fruit'],
    ['Banana', 3, 600, 'Fruit'],
    ['Beef', 5, 2000, 'Meal'],
    ['Kimchi', 4, 800, 'Meal']],
    columns = ["Name", "Frequency", "Price", "Type"])

df = df.groupby("Type").get_group("Fruit")
print(df)

     Name  Frequency  Price   Type
0   Apple          7    500  Fruit
1  Banana          3    600  Fruit

In [ ]:
import numpy as np
import pandas as pd

df = pd.DataFrame(
    np.random.randint(1, 10, (4, 4)),
    index = [['1차', '1차', '2차', '2차'], ['공격', '수비', '공격', '수비']],
    columns = ['1회', '2회', '3회', '4회']
)

print(df)
print(df[['1회', '2회']].loc['2차'])

       1회  2회  3회  4회
1차 공격   8   8   5   3
   수비   4   3   7   6
2차 공격   2   2   6   1
   수비   4   4   5   5
    1회  2회
공격   2   2
수비   4   4

In [ ]:
# 피벗 테이블의 기초

import numpy as np
import pandas as pd

df = pd.DataFrame([
    ['Apple', 7, 500, 'Fruit'],
    ['Banana', 3, 600, 'Fruit'],
    ['Beef', 5, 2000, 'Meal'],
    ['Kimchi', 4, 800, 'Meal']],
    columns = ["Name", "Frequency", "Price", "Type"])

print(df)
df = df.pivot_table(
    index = "Price", columns = "Type", values = "Frequency",
    aggfunc = np.max
)
print(df)

     Name  Frequency  Price   Type
0   Apple          7    500  Fruit
1  Banana          3    600  Fruit
2    Beef          5   2000   Meal
3  Kimchi          4    800   Meal
Type   Fruit  Meal
Price
500      7.0   NaN
600      3.0   NaN
800      NaN   4.0
2000     NaN   5.0

<ipython-input-10-2e0ce2078184>:14: FutureWarning: The provided callable <function max at 0x7fea9cd1f490> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df = df.pivot_table(